<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rows</title>
    <link href="static/js/style.css" type="text/css">
</head>
<body>
    <div>
    <select id="projectsSelector" class="selectors">
        {{ .Projects }}
    </select>
    </div>
</body>
</html>